<mat-drawer-container class="h-full w-full">
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    [opened]="isOpened"
    class="w-52"
  >
    <mat-nav-list>
      @for (navItem of navigationConfig; track navItem.title) {
        <mat-list-item class="flex flex-row">
          <div class="flex flex-row">
            <mat-icon mat-list-icon>{{ navItem.icon }}</mat-icon>
            <a
              class="mx-2 cursor-pointer p-2 text-lg"
              routerLink="{{ navItem.routerLink }}"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >{{ navItem.title }}</a
            >
          </div>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <ng-content></ng-content>
</mat-drawer-container>
