<mat-drawer-container class="side-navigation__container h-full w-full">
  <mat-drawer
    #drawer
    mode="side"
    disableClose="true"
    [opened]="isOpened"
    class="w-52"
  >
    <mat-nav-list>
      @for (navItem of navigationConfig; track navItem.title) {
        <mat-list-item class="flex flex-row">
          <div class="flex flex-row items-center justify-end">
            <a
              class="cursor-pointer p-2 text-lg"
              routerLink="{{ navItem.routerLink }}"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >{{ navItem.title }}</a
            >
            <mat-icon mat-list-icon class="ml-4">{{ navItem.icon }}</mat-icon>
          </div>
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content [ngClass]="{ 'mat-sidenav-content__closed': !isOpened }">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
